<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container">
                <div style="margin-top: 150px;">
                    <h3>Viết bài</h3>
                    <div class="justify-content-center align-items-center">
                        <ckeditor [editor]="Editor"></ckeditor>
                        <button class="btn btn-primary col-12 mt-3">Đăng bài</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>