<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
</div>
<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="product-content product-wrap clearfix product-detail">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="product-image carousel m-3">
                        <p-galleria [value]="product.Imgs" *ngIf="product.Imgs" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5">
                            <ng-template pTemplate="item" let-item>
                                <img width="400" height="300" [src]="item.ImgName" />
                            </ng-template>
                            <ng-template class="d-flex justify-content-center" pTemplate="thumbnail" let-item>
                                <div class="p-grid p-nogutter p-justify-center text-center">
                                    <img width="50" height="50"  [src]="item.ImgName" />
                                </div>
                            </ng-template>
                        </p-galleria>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h2 class="name">
                        {{product.ProductName}}
                    </h2>
                    <hr />
                    <h3 class="price-container">
                        {{product.Price}}
                    </h3>
                    <br />
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-12 pb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button (click)="subtract()" class="btn btn-outline-primary">&minus;</button>
                                </div>
                                <input class="text-center form-control text-white" placeholder="{{quants}}" style="margin-left:-5px;" disabled/>
                                <div class="input-group-append" style="max-width:35.2px;">
                                    <button (click)="plus()"  class="btn btn-outline-primary">&#43;</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-12 d-flex justify-content-center pb-2">
                            <button mat-stroked-button color="primary" (click)="Add(product)" (click)="openSnackBar(product.ProductName)">Add to cart</button>
                        </div>
                    </div>
                    <hr />
                    <mat-tab-group>
                        <mat-tab label="Mô tả">
                            <div class="p-2" [innerHTML]="product.Des">   
                            </div>
                        </mat-tab>
                        <mat-tab label="Đánh giá">Comment</mat-tab>
                    </mat-tab-group>
                    <hr />       
                </div>
            </div>
        </div>
    </div>
    {{getType(product.Type.TypeId)}}
    <p-carousel [value]="products" [numVisible]="4" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-item pTemplate="item">
            <div class="cart-form mr-2 pt-2 pl-2 pr-2" >
                <a class="text-center">
                    <img class="" style="width:100%; max-width: 200px; min-height: 170px; max-height: 170px;" src="{{item.Imgs[0].ImgName}}" />
                </a>
                <div class="card-body text-black">
                    <div class="d-flex justify-content-center text-center">
                        <p class="product-name">
                            <a class="text-black" style="font-family: sans-serif;">{{item.ProductName}}</a>
                        </p>
                    </div>
                    <div class="text-center">
                        <h4>{{item.Price | currency:'VND'}}</h4>
                    </div>
                    <div class="row justify-content-center text-center">
                        <a [routerLink]="['/productdetail', item.ProductCode]" class="btn btn-outline-primary col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5" >Xem</a>
                        <button (click)="Add(item)" (click)="openSnackBar(1, item.ProductName)" class="btn btn-danger col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5">Thêm</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    <app-scroll-to-top></app-scroll-to-top>
</div>