<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('https://image.freepik.com/free-vector/pharmacy-banner-people-medicines-buyers-queue-pharmacists-sellers_109722-577.jpg');">
    <div class="filter"></div>
</div>
<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="blog">
                <div class="container">
                    <div class="row">
                        <main class="posts-listing col-lg-8">
                            <div class="container">
                                <div class="row">
                                    <div class="post col-lg-6">
                                        <div class="post-thumbnail"><a href="post.html"><img src="https://image.pharmacity.vn/live/uploads/2020/07/shutterstock_1336774781-1200x800.jpg" alt="..." class="img-fluid img-blog"></a></div>
                                        <div class="post-details">
                                            <div class="post-meta d-flex justify-content-between">
                                                <div class="date meta-last">20 Tháng 4 | 2020</div>
                                                <div class="category"><a href="#">Y tế</a></div>
                                            </div><a href="post.html">
                                                <h3 class="h4">Bài viết</h3>
                                            </a>
                                            <p class="text-muted">Mô tả</p>
                                            <footer class="post-footer d-flex align-items-center">
                                                <a href="#" class="author d-flex align-items-center flex-wrap">
                                                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                                                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                                                    </a>
                                            </footer>
                                        </div>
                                    </div>
                                    <div class="post col-lg-6">
                                        <div class="post-thumbnail"><a href="post.html"><img src="https://image.pharmacity.vn/live/uploads/2020/07/CLiver_Blog.png" alt="..." class="img-fluid img-blog"></a></div>
                                        <div class="post-details">
                                            <div class="post-meta d-flex justify-content-between">
                                                <div class="date meta-last">20 Tháng 4 | 2020</div>
                                                <div class="category"><a href="#">Y tế</a></div>
                                            </div><a href="post.html">
                                                <h3 class="h4">Bài viết</h3>
                                            </a>
                                            <p class="text-muted">Mô tả</p>
                                            <div class="post-footer d-flex align-items-center">
                                                <a href="#" class="author d-flex align-items-center flex-wrap">
                                                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                                                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                                                    </a>                                  
                                            </div>
                                        </div>
                                    </div>
                                    <!-- post             -->
                                    <div class="post col-lg-6">
                                        <div class="post-thumbnail"><a href="post.html"><img src="https://image.pharmacity.vn/live/uploads/2020/07/ConditionWoman-3.jpg" alt="..." class="img-fluid img-blog"></a></div>
                                        <div class="post-details">
                                            <div class="post-meta d-flex justify-content-between">
                                                <div class="date meta-last">20 Tháng 4 | 2020</div>
                                                <div class="category"><a href="#">Y tế</a></div>
                                            </div><a href="post.html">
                                                <h3 class="h4">Bài viết</h3>
                                            </a>
                                            <p class="text-muted">Mô tả</p>
                                            <div class="post-footer d-flex align-items-center">
                                                <a href="#" class="author d-flex align-items-center flex-wrap">
                                                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                                                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- post -->
                                    <div class="post col-lg-6">
                                        <div class="post-thumbnail"><a href="post.html"><img src="https://image.pharmacity.vn/live/uploads/2020/06/shutterstock_1193411824-1371x800.jpg" alt="..." class="img-fluid img-blog"></a></div>
                                        <div class="post-details">
                                            <div class="post-meta d-flex justify-content-between">
                                                <div class="date meta-last">20 Tháng 4 | 2020</div>
                                                <div class="category"><a href="#">Y tế</a></div>
                                            </div><a href="post.html">
                                                <h3 class="h4">Bài viết</h3>
                                            </a>
                                            <p class="text-muted">Mô tả</p>
                                            <div class="post-footer d-flex align-items-center">
                                                <a href="#" class="author d-flex align-items-center flex-wrap">
                                                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                                                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pagination -->
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pagination-template d-flex justify-content-center mt-3">
                                        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                                        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </main>
                        <aside class="col-lg-4">
                            <button class="btn btn-outline-primary" style="margin-bottom:20px; width:100%">Viết bài</button>
                            <!-- Widget [Search Bar Widget]-->
                            <div class="widget search">
                                <header>
                                    <h3 class="h6">Tìm kiếm bài viết</h3>
                                </header>
                                <form action="#" class="search-form">
                                    <div class="form-group">
                                        <input type="search" placeholder="Bạn muốn tìm gì?">
                                        <button type="submit" class="submit"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <!-- Widget [Latest Posts Widget]        -->
                            <div class="widget latest-posts">
                                <header>
                                    <h3 class="h6">Bài viết gần đây</h3>
                                </header>
                                <div class="blog-posts">
                                    <a href="#">
                                        <div class="item d-flex align-items-center">
                                            <div class="image"><img src="https://image.pharmacity.vn/live/uploads/2020/06/shutterstock_1193411824-1371x800.jpg" alt="..." class="img-fluid"></div>
                                            <div class="title">
                                                <strong>Bài viết</strong>
                                                <div class="d-flex align-items-center">
                                                    <div class="views"><i class="icon-eye"></i> 500</div>
                                                    <div class="comments"><i class="icon-comment"></i>12</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="item d-flex align-items-center">
                                            <div class="image"><img src="https://image.pharmacity.vn/live/uploads/2020/06/shutterstock_1193411824-1371x800.jpg" alt="..." class="img-fluid"></div>
                                            <div class="title">
                                                <strong>Bài viết</strong>
                                                <div class="d-flex align-items-center">
                                                    <div class="views"><i class="icon-eye"></i> 500</div>
                                                    <div class="comments"><i class="icon-comment"></i>12</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="item d-flex align-items-center">
                                            <div class="image"><img src="https://image.pharmacity.vn/live/uploads/2020/06/shutterstock_1193411824-1371x800.jpg" alt="..." class="img-fluid"></div>
                                            <div class="title">
                                                <strong>Bài viết</strong>
                                                <div class="d-flex align-items-center">
                                                    <div class="views"><i class="icon-eye"></i> 500</div>
                                                    <div class="comments"><i class="icon-comment"></i>12</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="widget categories">
                                <header>
                                    <h3 class="h6">Danh mục</h3>
                                </header>
                                <div class="item d-flex justify-content-between"><a href="#">Dịch Corona</a><span>12</span></div>
                                <div class="item d-flex justify-content-between"><a href="#">Sức khỏe</a><span>25</span></div>
                                <div class="item d-flex justify-content-between"><a href="#">Bệnh nguy hiểm</a><span>8</span></div>
                                <div class="item d-flex justify-content-between"><a href="#">Cải thiện</a><span>17</span></div>
                                <div class="item d-flex justify-content-between"><a href="#">Thuốc</a><span>25</span></div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>